.caixa {
    margin-top: 6vw;

    width: 5vw;
    height: 5vw;

    /* background-color: #FF4E44; */
    
    display: none;
    margin: auto;
    
    flex-direction: column;

    transform: scale(2);
    border-radius: 15%;
    transition: 0.2s;

}
.caixa:hover {
    transform: scale(2.2);
}

.caixa .linhas {
    
    margin: 4px auto;
    width: 16px;
    border-bottom: solid 2px #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 0px  #000000a1;
}
