/* Configurações de Responsividade */



/* @media screen and (max-width: 1366px) {

    

    /* div.txt > h1.biografia {
       
    } */
    /*
    div.arrow > div.container1 {
        width: 80vw;
    }
    div.txt > div.arrow {
        margin-right: 1vw;
        margin-left: 2.5vw;
    }

    div.arrow > .setas {
        transform: scale(3);
    }
} 


@media screen and (max-width: 414px) {
    div.txt > h1.biografia {
        font-size: 2rem;
        margin-top: 20vw;
    }

    div.arrow > .setas {
        transform: scale(1.6);
    }

    div.arrow > div.container1 {
        margin-top: -2vw;
        width: 283px;
        height: 140vw;
    }

    section.Cards > div.Card{
        margin: 0 0;
        width: 283px;
        height: 100vw;
    }

    section.Cards > div.Card > img {
        width: 14vw;
        margin-top: -1vw;
    }

    section.Cards > div.Card > p {
        margin-left: 2vw;
        margin-right: 0vw;
        font-size: 0.85rem;
        padding:2vw 6vw;
    }

    section.Cards > div.Card > div {
        width: 50vw;
        margin-top: 1.6rem;
    }

}


@media screen and (max-width: 375px) {
    
    div.txt > h1.biografia {
        font-size: 2rem;
        margin-top: 40vw;
    }
    

    div.arrow > .setas {
        transform:scale(1.4);
    }

    div.arrow > div.container1 {
        width: 60vw;
        height: 110vw;

    }

    section.Cards > div.Card {
        margin-left: 5vw;
        margin: 0 20px;
        width: 50vw;
        height: 100vw;
    }
    section.Cards > div.Card > img {
        width: 13vw;
        margin-top: -1vw ;
    }
    

    section.Cards > div.Card > p {
        margin-left: 1%;
        font-size: 0.675rem;
        padding: 3vw 5vw;
    }

    section.Cards > div.Card > div {
        width: 40vw ;
        margin-top: 1.4rem;
    }
    
} */
