/* Configurações de Responsividade */



@media screen and (max-width: 1366px) {

    

    /* div.txt > h1.biografia {
       
    } */
    div.arrow > div.container1 {
        width: 80vw;
    }
    div.txt > div.arrow {
        margin-right: 1vw;
        margin-left: 2.5vw;
    }

    div.arrow > .setas {
        transform: scale(3);
    }
} 


@media screen and (max-width: 414px) {
    div.txt > h1.biografia {
        font-size: 2rem;
        margin-top: 20vw;
    }

    div.arrow > .setas {
        transform: scale(1.6);
    }

    div.arrow > div.container1 {
        margin-top: -2vw;
        width: 283px;
        height: 140vw;
    }

    section.Cards > div.Card{
        margin: 0 0;
        width: 283px;
        height: 100vw;
    }

    section.Cards > div.Card > img {
        width: 14vw;
        margin-top: -1vw;
    }

    section.Cards > div.Card > p {
        margin-left: 2vw;
        margin-right: 0vw;
        font-size: 0.85rem;
        padding:2vw 6vw;
    }

    section.Cards > div.Card > div {
        width: 50vw;
        margin-top: 1.6rem;
    }

}


@media screen and (max-width: 375px) {
    
    div.txt > h1.biografia {
        font-size: 2rem;
        margin-top: 40vw;
    }
    

    div.arrow > .setas {
        transform:scale(1.4);
    }

    div.arrow > div.container1 {
        width: 60vw;
        height: 110vw;

    }

    section.Cards > div.Card {
        margin-left: 5vw;
        margin: 0 20px;
        width: 50vw;
        height: 100vw;
    }
    section.Cards > div.Card > img {
        width: 13vw;
        margin-top: -1vw ;
    }
    

    section.Cards > div.Card > p {
        margin-left: 1%;
        font-size: 0.675rem;
        padding: 3vw 5vw;
    }

    section.Cards > div.Card > div {
        width: 40vw ;
        margin-top: 1.4rem;
    }
    
}






/* Texto */
.txt .biografia{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.527);
}

/* Div dos Components */

.container1 {
    margin: auto;
    overflow-x: hidden;
    width: 1100px;
    height: 550px;
}

.container1, .arrow {
    margin-top: 6vw;
    /* display: grid; */
    /* grid-auto-flow: column;
    place-items: center; */
    display: flex;
    align-content: center;
    align-items: center;
}

.Cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

/* Configuração das Setas de Navegação */


.setas{
    
    color: white;
    transform: scale(2);
    cursor: pointer;
    margin: auto;
}

 .setas:hover {
     transition:  0.2s; 
     transform: scale(2.3); 
} 

/* Biografica Card */

.Card {
    margin: 0 20px;
    position: relative;
    width: 328px;
    height: 490px;
    background-color: #282634;
    /* margin-top: 20vw; */
    border-radius: 1.875rem;
    transition: transform 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.527);
}

.Card img {
    width: 6vw;
    display: flex;
    position: relative;
    top: 15px;
    margin: auto;
    border-radius: 50%;
}

.Card div.linha {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 230px;
    border-bottom: solid 3px #201F29;
}

.Card p {
    font-size: 0.875rem;
    padding: 10px 40px;
    color: #ffffff;
    margin-left: 10px;
}

/* Efeitos Card */

.Card:hover {
    transform: scale(1.05);
}